- content_for :page_title, @user.name

.container
  - localized_cache @user do
    .row.justify-content-between
      .col-auto
        = render "/header", title: t('entries.index.user_entries', user: @user.first_name)
      .col-auto
        = link_to t("entries.download_csv"), user_entries_path(@user, format: "csv"), class: 'btn btn-outline-success btn-sm'
  .entries-tabs-container
    %ul.accordion-tabs
      %li.tab-header-and-content-left
        %a.tab-link{href: "#hours"}= t("entries.index.hours")
        #hours-tab.tab-content
          %table.entries-table
            = render 'hours_table'
          = paginate @hours_entries, param_name: :hours_pages
