.container
  %h1
    = t("registration.edit", resource_name: @user.class.model_name.human)
  .row.justify-content-center
    .col-md-8
      = render "application/avatar", user: @user, easter: easter?
      %p= t("registration.gravatar_instructions_html")
      = simple_form_for(@user) do |f|
        = f.error_notification
        .form-inputs.edit-user
          .row
            .col-md-4.form-group
              = f.input :first_name, required: true, autofocus: true
            .col-md-4.form-group
              = f.input :last_name, required: true
            .col-md-4.form-group
              = f.input :email, required: true
            .col-md-4.form-group
              = f.input :password, autocomplete: "off", hint: t("registration.hint.blank"), required: false
            .col-md-4.form-group
              = f.input :password_confirmation, required: false
            .col-md-4.form-group
              = f.input :current_password, hint: t("registration.hint.current_password"), required: true
            .col-md-4.form-group
              = f.collection_check_boxes(:role_ids, Role.all, :id, ->(obj){obj.name.humanize}) do |f|
                = f.check_box
                = f.label
        .form-actions
          = f.button :submit, t("registration.update_button"), data: { disable_with: t("loader.saving") }
          = link_to t("back"), :back, class: 'btn btn-light'
