<div id="main">
  <div class="main project_access container">
    <%= form_for @user do |f| %>
      <h1 class="mb-3">Which projects should <span class="text-success"><%= @user.full_name %></span> have access to?</h1>

      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="project_list">
            <div class="select_group text-right text-black-50 mb-3">
              <a href="#" id="select_all" class="text-black-50">Select all projects</a> | <a href="#" id="select_none"  class="text-black-50">Select no project</a>
            </div>
            <% @all_clients.each do |client| %>
              <p class="mt-4"><%= client.name %></p>
              <% client.projects.each do |project| %>
                <% input_id = project.name.gsub(" ", '-') %>
                <div class="row border-top mr-0 ml-0 align-items-center row-hover">
                  <%= label_tag input_id, project.name, class: 'col-sm-9 mb-0 pt-2 pb-2 h6 font-weight-bold ' %>
                  <label class="col-sm-3 pr-1 pb-0 mb-0 text-right position-relative">
                    <%= check_box_tag 'user[project_ids][]', project.id, @user.project_ids.include?(project.id), class: 'project_checkbox', id: input_id %>
                    <span class="sublabel"><%= project.users.count %> People</span>
                  </label>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="text-center mt-4">
            <%= f.button :submit, class: 'btn btn-block' %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>


<%= javascript_include_tag 'users/projects_assign_manager.js' %>
