<div class='container'>
  <h4><%= current_user_or_impersonated_user.full_name.humanize %> Weekly Timesheet</h2>
  <% current_week = Date.current.all_week %>
  <h5 data-from='<%= current_week.first %>' data-to='<%= current_week.last %>' id='current_week'><%= current_week.to_s %></h3>
  <p class="week-nav">
    <% previous_week = (Date.current - 1.week).all_week %>
    <% next_week = (Date.current + 1.week).all_week %>
    <%= link_to 'Previous week | ', 'javascript:void(0)', id: 'previous_week', data: { from: previous_week.first, to: previous_week.last }%>
    <%= link_to ' Next week', 'javascript:void(0)', id: 'next_week', data: { from: next_week.first, to: next_week.last } %>
  </p>
  <% if current_user.admin? %>
    <div>
      <%= select_tag :user_id, options_from_collection_for_select(User.all, :slug, :name, params[:slug]), include_blank: 'Switch Person', data: { href: new_index_projects_path }  %>
    </div>
  <% end %>

  <div id='daily_entry_template'>
  </div>
  <div class='text-center'>
    <button class="submit btn btn-success">Save</button>
  </div>
  <div class='activity-feed'>
    <ul>
      <%# localized_cache [cache_key_for_all(:hours), current_locale] do %>
        <%#= render partial: "entry", collection: @activities %>
      <%# end %>
    </ul>
</div>

<%= render 'category_row.mustache' %>
<%= render 'daily_update_template.mustache' %>
<%= javascript_include_tag 'daily_updates/manager.js' %>
